/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#FCFCFC - off white
#101214 - dark black
#FD3F35 - vermilion color
*/


/* Global styles
----------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Add css from codepen https://codepen.io/alvarotrigo/pen/MWEJEWG */

.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #101214;
    color: #FCFCFC;
    height: 70px;
    padding: 1em 2em 1em 2em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    max-width: 750px;
    width: 85%;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu>li {
    padding: 5px;
    overflow: hidden;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #FCFCFC;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.top-nav a,
.menu a {
    padding: 10px 20px;
    display: inline;
}

.top-nav a:hover,
.menu a:hover {
    background-color: #FD3F35;
}

.top-nav a:active,
.menu a:active {
    background: rgba(253, 63, 53, 30%);
}

body {
    color: #101214;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.profile-flex img {
    width: 300px;
}

a {
    color: #FCFCFC;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 45px;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 70px 0px;
}

h3,
h4 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

.item-details h3+p {
    font-style: italic;
}

.item-details h3~p {
    margin: 0;
}

.divider>section {
    border-bottom: 1px solid #101214;
    padding: 25px 0;
}

.divider>section:last-of-type {
    border-bottom: none;
}


/* Profile
----------------------------------*/

header {
    background: #101214;
    color: #FCFCFC;
}

header .content-wrap h2 {
    color: #FD3F35;
}

header img {
    display: block;
    margin: 0 auto;
}

.profile-flex .btn-1 {
    color: #FCFCFC;
    border: 2px solid #FD3F35;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.profile-flex .btn-1:hover {
    background: rgba(253, 63, 53, 90%);
}

.profile-flex .btn-1:active {
    background: rgba(253, 63, 53, 30%);
}

.profile-flex div {
    margin: auto;
}


/* Project
----------------------------------*/

.projects {
    background: #FCFCFC;
}

.projects a {
    color: #FD3F35;
}

.projects a:hover {
    color: rgba(253, 63, 53, 80%);
}

.projects a:active {
    color: rgba(253, 63, 53, 30%);
}

.projects .btn {
    color: #FCFCFC;
    background: #FD3F35;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    color: #FCFCFC;
    background: rgba(253, 63, 53, 80%);
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}


/* Work Experience
----------------------------------*/

.work-experience {
    background: rgba(253, 63, 53, 50%);
}


/* Education
------------------------------------*/

.education {
    color: #FCFCFC;
    background-image: url(../placeholder\ images/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 50%;
}


/* Contact Info
----------------------------------*/

footer {
    background: #101214;
    color: #FCFCFC;
}

footer a {
    padding: 5px 0px;
    color: #FD3F35;
}

footer a:hover {
    padding: 5px 0px;
    color: rgba(253, 63, 53, 80%);
}

footer a:active {
    padding: 5px 0px;
    color: rgba(253, 63, 53, 30%);
}

.contact-list ul {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    display: inline-block;
}


/* Add modal css from https://codepen.io/Lightislands/pen/XdYYgb */

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}

.modalDialog h2 {
    margin-bottom: 20px;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 60px;
    border-radius: 3px;
    background: #101214;
}

.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #FD3F35;
    color: #FCFCFC;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #101214;
    -webkit-box-shadow: 1px 1px 3px #101214;
    box-shadow: 1px 1px 3px #101214;
    padding-top: 5px;
}

.close:hover {
    background: #FD3F35;
}


/* help taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_stacked_form */

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #FCFCFC;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #FD3F35;
    color: FCFCFC;
    padding: 14px 20px;
    margin: 28px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(253, 63, 53, 80%);
}


/* Motion page */


/* First cell */

.grid-container .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.grid-button {
    color: #FCFCFC;
    background: #FD3F35;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    border: none;
    transition: transform .5s .1s ease-in-out, background .4s .2s ease-out, border-radius .3s .3s ease-in;
}

.grid-button:hover {
    transform: scale(1.5);
    background: rgba(253, 63, 53, 80%);
    border-radius: 8px;
}


/* Second cell */

@keyframes scaleInOut {
    0% {
        transform: scale(1.5);
    }
    75% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.grid-heading {
    color: #FD3F35;
    text-shadow: 1px 1px 0 rgba(253, 63, 53, 80%);
    animation-name: scaleInOut;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}


/* Third cell  */

.grid-image:hover {
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(-40px);
    }
}


/* Responsive
------------------------------------*/

@media screen and (min-width:750px) {
    header h1,
    header h2,
    footer h2 {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: space-between;
    }
    .direct-contact {
        display: flex;
        flex-direction: column;
    }
    .profile-flex {
        display: flex;
        padding-top: 25px;
    }
    .profile-flex img {
        margin-right: 20px;
    }
    /* Motion page Styling */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns for large screens */
        grid-gap: 20px;
    }
}

@media screen and (max-width:749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    header img {
        margin-top: 20px;
    }
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid #FCFCFC;
        height: 100%;
        width: 100%;
        display: block;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu li a {
        display: block;
        text-align: center;
        padding: 15px;
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #FCFCFC;
        background-color: #101214;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #FCFCFC;
    }
    .education p {
        font-size: medium;
    }
}