/* 4-0 Animation */
/* 4-1 Keyframes */
@include fill;
@include cube-1;
@include bouncefadein;
@include wiggle;

/* 4-2 Variables */
:root {
    --red: #{$accent-color};
    --fade: rgba(253, 63, 53, 80%);
    --morefade: rgba(253, 63, 53, 30%);
    --scale: 0.1;
    --fromto: 0%;
    --tofrom: 0%;
    --original: 1;
    --duration: 5s;
    --weight: 700;
    --minusdeg: -20deg;
    --adddeg: 20deg;
    --deg: 0;
}

.hero-section {
    @include content-wrap;
}

/* 4-3 cube item animation properties */
#cube{
    &__right {
            --fromto: 0%;
            --tofrom: 100%;
            --scale: 0.8;
            --red: rgba(253, 63, 53, 80%);
            offset-path: path("M 10,100 A 50,10 0 1,1 0,0");
            animation: cube-1 var(--duration) 0s cubic-bezier(.62, .49, 0, 1.04) infinite, fill 1s both;
    }
    &__left {
            --fromto: 100%;
            --tofrom: 0%;
            --scale: 0.1;
            --red: rgba(253, 63, 53, 80%);
            offset-path: path("M 0,10 A 50,10 0 1,1 0,100");
            animation: cube-1 var(--duration) 0s cubic-bezier(.62, .49, 0, 1.04) infinite, fill 1s both;
        }
    &__top {
            --fromto: 100%;
            --tofrom: 0%;
            --scale: 0.6;
            --red: rgba(253, 63, 53, 80%);
            offset-path: path("M 0.50,0 A 150,10 0 1,1 0,40 ");
            animation: cube-1 var(--duration) 0s cubic-bezier(.62, .49, 0, 1.04) infinite, fill 1s both;
        }

}

/* 4-4 A-symbol items animation properties */

#A-symbol{
    &__left {
            animation: bouncefadein var(--duration) 0.2s cubic-bezier(.36, .44, 0, 1.04) infinite, fill 1s both;
        }
    &__right {
        animation: bouncefadein var(--duration) 0.4s cubic-bezier(.36, .44, 0, 1.04) infinite, fill 1s both;
    }
    &__middle {
        animation: bouncefadein var(--duration) 0.6s cubic-bezier(.36, .44, 0, 1.04) infinite, fill 1s both;
    }
}
/* 4-5 Text animation */

.animation-text {
    font-size: 50px;
    margin-top: 0%;
    color: var(--red);
    font-style: normal;
    text-align: center;
    animation: wiggle var(--duration) infinite linear;
    --scale: 1.2;
}


