/* 1-0 Configuration */

/* COLOR PALETTE */
/* https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7 */
/* #FCFCFC - off white */
/* #101214 - dark black */
/* #FD3F35 - vermilion color */

$primary-color: #fcfcfc;
$secondary-color: #101214;
$accent-color: #fd3f35;

$primary-font: "Playfair Display",
serif; 

$secondary-font: "Roboto",
sans-serif;

@mixin content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 70px 0px;
}

@mixin detail{
    h3+p {
        font-style: italic;
    }
    h3~p {
        margin: 0;
    }
}

@mixin divider{
    border-bottom: 1px solid $secondary-color;
    padding: 25px 0;
    &:last-of-type {
        border-bottom: none;
    }
}

@mixin scaleInOut{
    @keyframes scaleInOut {
        0% {
            transform: scale(1.5);
        }
    
        75% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }
}

@mixin move{
    @keyframes move {
        0% {
            transform: translateX(0px);
        }

        50% {
            transform: translateX(40px);
        }

        100% {
            transform: translateX(-40px);
        }
    }
}

@mixin typing{
    @keyframes typing {
        0% {
            width: 0px;
        }
    
        100% {
            width: 40%;
        }
    }
}

@mixin blinking{
    @keyframes blinking {
        0%,
        100% {
            border-color: transparent;
        }
    
        50% {
            border-color: #fd3f35;
        }
    }
}

@mixin flipup{
    @keyframes flipup {
        from {
            transform: rotateX(90deg);
        }
    
        to {
            transform: rotateX(0deg);
        }
        }
}

@mixin flipdown{
    @keyframes flipdown {
        to {
            transform: rotateX(-360deg);
        }
    }
}

@mixin rotation{
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin fill{
    @keyframes fill {
        from {
            fill: white;
        }
    
        to {
            fill: var(--red);
        }
    }
}

@mixin cube-1{
    @keyframes cube-1 {
        from {
            offset-distance: var(--fromto);
            transform: scale(var(--scale));
        }
    
        to {
            offset-distance: var(--tofrom);
        }
    }
}

@mixin bouncefadein{
    @keyframes bouncefadein {
        0% {
            transform: translateY(0);
        }

        20% {
            opacity: 0;
            transform: translateY(-20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@mixin wiggle{
    @keyframes wiggle {
        30% {
            transform: scale(var(--scale));
        }
    
        40%,60% {
            transform: rotate(var(--minusdeg)) scale(var(--scale));
        }
    
        50% {
            transform: rotate(var(--adddeg)) scale(var(--scale));
        }

        70% {
            transform: rotate(var(--deg)) scale(var(--scale));
        }
    
        100% {
            transform: scale(var(--original));
            font-style: italic;
            font-weight: var(--weight);
        }
    }
}