 .hero-section{
    @include content-wrap;

    &__profile-flex{
        & img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
        }
        
        &__section{
            margin: auto;
            &--btn {
                color: $primary-color;
                border: 2px solid $accent-color;
                text-decoration: none;
                padding: 8px;
                border-radius: 4px;
            
                &:hover {
                    background: rgba(253, 63, 53, 90%);
                }
        
                :active {
                background: rgba(253, 63, 53, 30%);
                }
            }
            /* 5-2 Add modal css from https://codepen.io/Lightislands/pen/XdYYgb */
            &__modalDialog{
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index: 99999;
                opacity: 0;
                -webkit-transition: opacity 100ms ease-in;
                -moz-transition: opacity 100ms ease-in;
                transition: opacity 100ms ease-in;
                pointer-events: none;

                & h2 {
                        margin-bottom: 20px;
                    }
                &:target {
                    opacity: 1;
                    pointer-events: auto;
                }
                &>&__form{
                    max-width: 800px;
                    width: 90%;
                    position: relative;
                    margin: 10% auto;
                    padding: 60px;
                    border-radius: 3px;
                    background: $secondary-color;
                }
                &__form
                    &__form--close {
                        font-family: Arial, Helvetica, sans-serif;
                        background: $accent-color;
                        color: $primary-color;
                        line-height: 25px;
                        position: absolute;
                        right: -12px;
                        text-align: center;
                        top: -10px;
                        width: 34px;
                        height: 34px;
                        text-decoration: none;
                        font-weight: bold;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -moz-box-shadow: 1px 1px 3px $secondary-color;
                        -webkit-box-shadow: 1px 1px 3px $secondary-color;
                        box-shadow: 1px 1px 3px $secondary-color;
                        padding-top: 5px;

                        &:hover {
                                background: $accent-color;
                            }
                    }
                    /* 5-3 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_stacked_form */

                    & input[type="text"],
                    & select {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: block;
                        border: 1px solid $primary-color;
                        border-radius: 4px;
                        box-sizing: border-box;
                    }

                    & input[type="submit"] {
                        width: 100%;
                        background-color: $accent-color;
                        color: $primary-color;
                        padding: 14px 20px;
                        margin: 28px 0;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }

                    & input[type="submit"]:hover {
                        background-color: rgba(253, 63, 53, 80%);
                    }

            }
        }
    }
}
/* 1-3 Project
----------------------------------*/

.projects {
    @include content-wrap;
    background: $primary-color;
    
    &__wrap{
        &__item{
            
            overflow: hidden;
            & h3 {
                margin-top: 0;
                & a {
                    color: $accent-color;
                    
                    :hover {
                        color: rgba(253, 63, 53, 80%);
                    }
                    
                    :active {
                        color: rgba(253, 63, 53, 30%);
                    }
                }
            }
            & img {
                width: 300px;
            }
            
        }
        &__item--btn{
                color: $primary-color;
                background: $accent-color;
                text-decoration: none;
                padding: 8px;
                border-radius: 4px;
                &:hover {
                        color: $primary-color;
                        background: rgba(253, 63, 53, 80%);
                }
            }
            &>&__item{
                    @include divider;
            }
    }    
}
