 .hero-section{
    &__profile-flex{
        & img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
        }
        
        &__section{
            margin: auto;
            &--btn {
                color: #fcfcfc;
                border: 2px solid #fd3f35;
                text-decoration: none;
                padding: 8px;
                border-radius: 4px;
            
                &:hover {
                    background: rgba(253, 63, 53, 90%);
                }
        
                :active {
                background: rgba(253, 63, 53, 30%);
                }
            }
        }
    }
}



