 .hero-section{
    &__profile-flex{
        & img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 300px;
        }
        
        &__section{
            margin: auto;
            &--btn {
                color: #fcfcfc;
                border: 2px solid #fd3f35;
                text-decoration: none;
                padding: 8px;
                border-radius: 4px;
            
                &:hover {
                    background: rgba(253, 63, 53, 90%);
                }
        
                :active {
                background: rgba(253, 63, 53, 30%);
                }
            }
            /* 5-2 Add modal css from https://codepen.io/Lightislands/pen/XdYYgb */
            &__modalDialog{
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                z-index: 99999;
                opacity: 0;
                -webkit-transition: opacity 100ms ease-in;
                -moz-transition: opacity 100ms ease-in;
                transition: opacity 100ms ease-in;
                pointer-events: none;

                & h2 {
                        margin-bottom: 20px;
                    }
                &:target {
                    opacity: 1;
                    pointer-events: auto;
                }
                &>&__form{
                    max-width: 800px;
                    width: 90%;
                    position: relative;
                    margin: 10% auto;
                    padding: 60px;
                    border-radius: 3px;
                    background: #101214;
                }
                &__form
                    &__form--close {
                        font-family: Arial, Helvetica, sans-serif;
                        background: #fd3f35;
                        color: #fcfcfc;
                        line-height: 25px;
                        position: absolute;
                        right: -12px;
                        text-align: center;
                        top: -10px;
                        width: 34px;
                        height: 34px;
                        text-decoration: none;
                        font-weight: bold;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -moz-box-shadow: 1px 1px 3px #101214;
                        -webkit-box-shadow: 1px 1px 3px #101214;
                        box-shadow: 1px 1px 3px #101214;
                        padding-top: 5px;

                        &:hover {
                                background: #fd3f35;
                            }
                    }
                    

            }
        }
    }
}



