 .menu {
     position: fixed;
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     width: 100%;
     background-color: #101214;
     color: #fcfcfc;
     height: 70px;
     padding: 1em 2em 1em 2em;
     z-index: 1;

     & a{
         padding: 10px 20px;
         display: inline;
         white-space: nowrap;
     }

     & a:hover,
     &__nav-list a:hover {
         background-color: #fd3f35;
     }

     & a:active,
     &__nav-list a:active {
         background: rgba(253, 63, 53, 30%);
     }

     &__burger {
         display: flex;
         height: 100%;
         width: 30px;
         cursor: pointer;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         &--button {
             #menu-toggle:checked+.menu__burger & {
                 background: rgba(255, 255, 255, 0);
             }

             &,
             &::before,
             &::after {
                 display: block;
                 background-color: #fcfcfc;
                 position: absolute;
                 height: 4px;
                 width: 30px;
                 transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
                 border-radius: 2px;
             }

             &::before {
                 content: "";
                 margin-top: -8px;

                 #menu-toggle:checked+.menu__burger & {
                     margin-top: 0px;
                     transform: rotate(405deg);
                 }
             }

             &::after {
                 content: "";
                 margin-top: 8px;

                 #menu-toggle:checked+.menu__burger & {
                     margin-top: 0px;
                     transform: rotate(-405deg);
                 }
             }

         }
     }

     &__nav-list {
         display: flex;
         list-style-type: none;
         position: absolute;
         top: 0;
         margin-top: 70px;
         left: 0;
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;

         & li a {
             display: block;
             text-align: center;
             padding: 15px;
         }

         &>li {
             padding: 5px;
             overflow: hidden;
             display: flex;
             justify-content: center;
             margin: 0;
             padding: 0.5em 0;
             width: 100%;
             color: #fcfcfc;
             background-color: #101214;
         }

         &>li:not(:last-child) {
             border-bottom: 1px solid #fcfcfc;
         }
         #menu-toggle~& li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        
        
        #menu-toggle:checked~& {
        padding-bottom: 100vh;
        background-color: #101214;
        
            & li {
                border: 1px solid #fcfcfc;
                height: 100%;
                width: 100%;
                display: block;
                padding: 0;
                transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
     }
 }