// Motion page 
@include scaleInOut;
@include move;
@include typing;
@include blinking;
@include flipup;
@include flipdown;
@include rotation;

.grid-container{
    &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;

            // 2-1 First cell

            &__btn{
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    color: #fcfcfc;
                    background: #fd3f35;
                    text-decoration: none;
                    padding: 8px;
                    border-radius: 4px;
                    border: none;
                    transition: transform 0.5s 0.1s ease-in-out, background 0.4s 0.2s ease-out, border-radius 0.3s 0.3s ease-in;
                    &:hover {
                            transform: scale(1.5);
                            background: rgba(253, 63, 53, 80%);
                            border-radius: 8px;
                        }
            }

            // 2-2 Second cell

            &__heading {
                color: #fd3f35;
                text-shadow: 1px 1px 0 rgba(253, 63, 53, 80%);
                animation-name: scaleInOut;
                animation-duration: 3s;
                animation-delay: 1s;
                animation-fill-mode: backwards;
            }
        }

}
