// Motion page 
@include scaleInOut;
@include move;
@include typing;
@include blinking;
@include flipup;
@include flipdown;
@include rotation;

.grid-container{
    &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
        }

}
