 /* 1-0 Home page */


 /* 1-1 Global styles
----------------------------------*/

 html {
     box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }
 
 .menu{
     position: fixed;
     display: flex;
     justify-content: space-between;
     align-items: center;
     top: 0;
     width: 100%;
     background-color: #101214;
     color: #fcfcfc;
     height: 70px;
     padding: 1em 2em 1em 2em;
     z-index: 1;

    & a, &__nav-list a {
            padding: 10px 20px;
            display: inline;
        }
        & a:hover, &__nav-list a:hover {
            background-color: #fd3f35;
        }
    & a:active, &__nav-list a:active{
        background: rgba(253, 63, 53, 30%);
    }

    &__burger {
            display: flex;
            height: 100%;
            width: 30px;
            cursor: pointer;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--button{
                #menu-toggle:checked+.menu__burger & {
                        background: rgba(255, 255, 255, 0);
                    }
               
                
                
                
            }
        }

    
 }

