/* 1-0 Home page */
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #101214;
  color: #fcfcfc;
  height: 70px;
  padding: 1em 2em 1em 2em;
  z-index: 1;
}
.menu a {
  padding: 10px 20px;
  display: inline;
  white-space: nowrap;
}
.menu a:hover, .menu__nav-list a:hover {
  background-color: #fd3f35;
}
.menu a:active, .menu__nav-list a:active {
  background: rgba(253, 63, 53, 0.3);
}
.menu__burger {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle:checked + .menu__burger .menu__burger--button {
  background: rgba(255, 255, 255, 0);
}
.menu__burger--button, .menu__burger--button::before, .menu__burger--button::after {
  display: block;
  background-color: #fcfcfc;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu__burger--button::before {
  content: "";
  margin-top: -8px;
}
#menu-toggle:checked + .menu__burger .menu__burger--button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.menu__burger--button::after {
  content: "";
  margin-top: 8px;
}
#menu-toggle:checked + .menu__burger .menu__burger--button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.menu__nav-list {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: 0;
  margin-top: 70px;
  padding: 0%;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu__nav-list li a {
  display: block;
  text-align: center;
  padding: 15px;
}
.menu__nav-list > li {
  padding: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: #fcfcfc;
  background-color: #101214;
}
.menu__nav-list > li:not(:last-child) {
  border-bottom: 1px solid #fcfcfc;
}
#menu-toggle ~ .menu__nav-list li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu__nav-list {
  padding-bottom: 100vh;
  background-color: #101214;
}
#menu-toggle:checked ~ .menu__nav-list li {
  border: 1px solid #fcfcfc;
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu #menu-toggle {
  display: none;
}

.hero-section {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 70px 0px;
}
.hero-section__profile-flex img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
}
.hero-section__profile-flex__section {
  margin: auto;
  /* 5-2 Add modal css from https://codepen.io/Lightislands/pen/XdYYgb */
}
.hero-section__profile-flex__section--btn {
  color: #fcfcfc;
  border: 2px solid #fd3f35;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.hero-section__profile-flex__section--btn:hover {
  background: rgba(253, 63, 53, 0.9);
}
.hero-section__profile-flex__section--btn :active {
  background: rgba(253, 63, 53, 0.3);
}
.hero-section__profile-flex__section__modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  /* 5-3 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_stacked_form */
}
.hero-section__profile-flex__section__modalDialog h2 {
  margin-bottom: 20px;
}
.hero-section__profile-flex__section__modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.hero-section__profile-flex__section__modalDialog > .hero-section__profile-flex__section__modalDialog__form {
  max-width: 800px;
  width: 90%;
  position: relative;
  margin: 10% auto;
  padding: 60px;
  border-radius: 3px;
  background: #101214;
}
.hero-section__profile-flex__section__modalDialog__form .hero-section__profile-flex__section__modalDialog__form--close {
  font-family: Arial, Helvetica, sans-serif;
  background: #fd3f35;
  color: #fcfcfc;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 34px;
  height: 34px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #101214;
  padding-top: 5px;
}
.hero-section__profile-flex__section__modalDialog__form .hero-section__profile-flex__section__modalDialog__form--close:hover {
  background: #fd3f35;
}
.hero-section__profile-flex__section__modalDialog input[type=text], .hero-section__profile-flex__section__modalDialog select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #fcfcfc;
  border-radius: 4px;
  box-sizing: border-box;
}
.hero-section__profile-flex__section__modalDialog input[type=submit] {
  width: 100%;
  background-color: #fd3f35;
  color: #fcfcfc;
  padding: 14px 20px;
  margin: 28px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-section__profile-flex__section__modalDialog input[type=submit]:hover {
  background-color: rgba(253, 63, 53, 0.8);
}

/* 1-1 Global styles
----------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background: #101214;
  color: #fcfcfc;
}
header h1, header h2 {
  text-align: center;
}
header h2 {
  color: #fd3f35;
}

body {
  color: #101214;
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #fcfcfc;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 75px;
  line-height: 0.9;
  margin-bottom: 20px;
}

h2 {
  font-size: 45px;
  line-height: 1;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}

footer {
  background: #101214;
}

.footer {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 70px 0px;
  color: #fcfcfc;
  text-align: center;
}
.footer a {
  padding: 5px 0px;
  color: #fd3f35;
}
.footer a :hover {
  padding: 5px 0px;
  color: rgba(253, 63, 53, 0.8);
}
.footer a :active {
  padding: 5px 0px;
  color: rgba(253, 63, 53, 0.3);
}
.footer p {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}
.footer__contact-list ul {
  margin-top: 0px;
  list-style-type: none;
  padding: 0;
}
.footer__contact-list a {
  margin-top: 0px;
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
    line-height: 1;
  }
  .menu__nav-list {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    max-width: 750px;
    width: 85%;
  }
  .menu__nav-list > li {
    padding: 0;
    width: 15%;
  }
  .menu__nav-list li a {
    padding: 10px 20px;
  }
  #menu-toggle ~ .menu__nav-list li {
    height: 100%;
  }
  #menu-toggle:checked ~ .menu__nav-list li {
    all: unset;
  }
  #menu-toggle:checked ~ .menu__nav-list {
    padding-bottom: 0vh;
  }
  .menu__burger {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */