 /* 1-0 Home page */
 @import 'menu';

 /* 1-1 Global styles
----------------------------------*/

 html {
     box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 @media screen and (min-width: 768px) {
    .menu {
        &__nav-list {
            position: relative;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            max-width: 750px;
            width: 85%;
        
            &>li {
                padding: 0;
                width: 15%;
            }
            & li a{
            padding: 10px 20px;
            } 
            #menu-toggle~& li {
            height: 100%;
            }
            #menu-toggle:checked~& li {
            all: unset;
            }
        }
        &__burger {
            display: none;
        }
    }
 }
 
