 /* 1-0 Home page */
 @import 'menu';

 /* 1-1 Global styles
----------------------------------*/

 html {
     box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 body {
     color: $secondary-color;
     margin: 0%;
     padding: 0%;
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     line-height: 1.5;
 }

 a {
     color: $primary-color;
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }

 h1 {
     font-size: 100px;
     line-height: 1;
 }

 h2 {
     font-size: 45px;
 }

 h1,
 h2 {
     font-family: "Playfair Display", serif;
     font-style: italic;
     font-weight: 400;
     margin: 0;
 }

 @media screen and (min-width: 768px) {
    .menu {
        &__nav-list {
            position: relative;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            max-width: 750px;
            width: 85%;
        
            &>li {
                padding: 0;
                width: 15%;
            }
            & li a{
            padding: 10px 20px;
            } 
            #menu-toggle~& li {
            height: 100%;
            }
            #menu-toggle:checked~& li {
            all: unset;
            }
            #menu-toggle:checked~& {
            padding-bottom: 0vh
            }
        }
        &__burger {
            display: none;
        }
    }
 }
 
